*{
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
.category_wrap{
    border: 2px solid black;
    /* display: flex; */
    /* flex-direction: column; */
}
img{
    max-width: 200px;
}
a.disabled {
    pointer-events: none;
}
/* body {
    font-family: sans-serif;
    min-width: 100%;
    min-height: 100%;
    /* position: relative; */
  /* } */
  /* .wrap {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background-color: #BBDEFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .category_wrap {
    width: 1300px;
    height: 1300px;
    position: relative;
    perspective: 1000px;
  }
  .img_wrap, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .front {
    background-color: #fff;
  }
  .back {
    background-color: #BDBDBD;
    transform: rotateY(180deg);
  }
  .card:hover .img_wrap {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);} */ 