/*  reset styles */
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;

}

a:visited,
a,
a:hover {
  text-decoration: none;
  color: #d9e3f1;
}

ul {
  list-style: none;
}


@font-face {
  font-family: 'Nunito';
  src: url(/assets/fonts/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  margin-top: 100px;
  background-color: #f7f9fc;
  overflow-x: auto;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  background-color: #3459e6;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15),
    inset 1px 1px 3px rgba(215, 232, 254, 0.5),
    inset -5px -5px 20px rgba(11, 28, 50, 0.05);
}

.header_wrap {
  /* width: 1200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font: normal 500 24px Nunito;
  letter-spacing: 0.04em;
  color: #f0f5fa;
  width: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 20px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  background-color: #3459e6;
  z-index: 3;
}

/* ------------------------- */
.state_btn {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 25px;
  background-color: #f0f5fa;
  cursor: pointer;
  border-radius: 25px;
}

.state {
  display: none;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  font: normal 400 14px Nunito;
  letter-spacing: 0.04em;
  color: #3459e6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 34px;
  padding: 10px;
  box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.switch::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 16px;
  width: 16px;
  background-color: #3459e6;
  border-radius: 50px;
  transition: 0.4s;
}

.state:focus+.switch {
  box-shadow: 0 0 5px #3459e6;
}

.state:checked+.switch {
  background-color: #33E668;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.1);

}

.state:checked+.switch::before {
  background-color: #fff;
  transform: translateX(49px);
}

.state:checked+.switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_aside {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  top: 29px;
  left: 0px;
  cursor: pointer;

}

.btn_aside span {
  content: "";
  z-index: 5;
  height: 2px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  transition: 0.4s;
}

.aside_line::after,
.aside_line::before {
  content: "";
  z-index: 5;
  height: 2px;
  width: 30px;
  background-color: #fff;
  position: absolute;
}

.aside_line::before {
  top: 10px;
}

.aside_line::after {
  bottom: 10px;
}

.aside {
  display: none;
}


.aside:checked+.aside_line {
  transform: rotate(-90deg);
  transition: 0.4s;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font: normal 500 24px Nunito;
  cursor: pointer;
}

li:hover {
  background-color: #33E668;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #d9e3f1;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  color: #33E668;
}

li>a {
  font: normal 400 16px Nunito;
  letter-spacing: 0.04em;
}

li.active {
  border: 2px solid #d9e3f1;
  border-radius: 25px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #3459e6;
  padding-left: 10px;
  padding-right: 10px;

}

li.active>a {
  color: #3459e6;

}

.icon {
  max-width: 48px;
  padding: 5px;
}

aside {
  position: absolute;
  z-index: 2;
  font: normal 500 24px Nunito;
  height: 100%;
  width: 300px;
  left: -100%;
  background-color: rgba(52, 89, 230);
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15),
    inset 1px 1px 3px rgba(215, 232, 254, 0.4),
    inset -5px -5px 20px rgba(11, 28, 50, 0.05);
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  position: absolute;
  z-index: 2;
  font: normal 500 24px Nunito;
  height: 100%;
  width: 300px;
  left: 0;
  transition: 0.7s;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15),
    inset 1px 1px 3px rgba(215, 232, 254, 0.4),
    inset -5px -5px 20px rgba(11, 28, 50, 0.05);
}

.checked_wrap {
  transform: translateX(10%);
  transition: 0.7s;
}

.shadow {
  display: none;
}

div.shadow.checked {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(217, 227, 241, 0.75);
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
}


.content_wrap {
  display: flex;
  flex-direction: column;  
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  transition: 0.7s;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 15px;
}

.category_wrap {
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category_wrap:hover {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.category_wrap:hover>.title_wrap h3 {
  color: #43cc29;
}

.img_wrap {
  display: flex;
  max-width: 200px;
  margin: 10px;
}

img {
  width: 100%;
}

.title_wrap h3,
.title_wrap_ru {
  font: normal 700 26px Nunito;
  letter-spacing: 0.04em;
  color: rgba(52, 89, 230);
}

a.disabled {
  pointer-events: none;
}

/* ---------------------------- */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;  
  perspective: 1000px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #3459e6;
}


.flip-card>div {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#content>div.flip-card.flip>div {
  transform: rotateY(180deg);
}


.front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.front>.img_wrap,
div.back>.img_wrap {
  display: flex;
  width: 250px;
  max-height: 200px;
}

.front>.img_wrap img,
.back>.img_wrap img {
  display: flex;
  max-width: 100%;
  max-height: 150px;
}

.front>.title_wrap,
.back>.title_wrap {
  display: flex;
  max-width: 100%;
  max-height: 30px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.back {
  transform: rotateY(180deg);
  background-color: #f8f9fa;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.back>.title_wrap h3 {
  font-size: 18px;
}

.title_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.title_wrap_ru {
  font-size: 12px;
}

.push {
  background: transparent;
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;
}

div.img_wrap.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  margin: 0px;
}

div.img_wrap.btn>img {
  display: flex;
}

.start_game {
  display: flex;
  border-color: #24a428;
  background-color: #24a428;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 12px;
  margin: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 5px;
  font: normal 500 26px Nunito;
  letter-spacing: 0.04em;
  transition: 1s;
}

div.back.hide,
div.title_wrap.hide {
  display: none;
}

div.flip-card.hide {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 170px;
  width: 260px;
}

div.front.hide {
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  background-color: #24a428;
}

div.img_wrap.hide {
  margin: 0;
  padding: 0;
  max-width: 250px;
  min-height: auto;
}

#answers {
  display: none;

}

div#answers.show {
  display: flex;
  border: 2px solid rgba(128, 128, 128, 0.212);
  height: 50px;
  margin: 10px;
  width: 300px;
  flex-wrap: nowrap;
  /* gap: 5px; */
  overflow-y: hidden;
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5), inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.212);  
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
 
}

div#answers.show>.img_wrap>img {
  width: 50px; 
  border: 2px solid #fff; 
  background-color: #fff;
  border-radius: 10px;
}

.repeat {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  max-width: 50px;
}

.correct {
  opacity: 0.5;
}

.end {
  display: none;
}

.game_end>img {
  display: flex;
  background-color: transparent;
  max-width: 512px;
}

.game_end_mess h2 {
  font: normal 600 24px Nunito;
  letter-spacing: 0.04em;
  color: #3459e6;
}


.content.table {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.btn_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.repeat_word,
.reset {
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  background-color: #3459e6;
  padding: 15px;
  width: 250px;
  display: flex;
  justify-content: center;
  font: normal 500 20px Nunito;
  letter-spacing: 0.04em;
  color: #f0f5fa;
  border-radius: 25px;
  cursor: pointer;
}

table {  
  background-color: #d3eafd;
  box-shadow: inset 5px 5px 8px rgba(109, 114, 121, 0.5),
    inset -5px -4px 6px rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column; 
  border-radius: 10px;
  /* max-width: 950px; */
}

thead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}

thead,
tbody {
  border: 2px solid #3459e6;  
  text-align: center;
  font: normal 500 16px Nunito;
  letter-spacing: 0.04em;
  color: #3459e6;
}

th,
td {  
    display: flex;
  width: 25%;
  height: 15%;
  word-wrap:break-word;
}

th,
tr,
td {
  display: flex;
  justify-content: center;  
  cursor: pointer;
  border-radius: 10px;  
}

th:hover,
tr:hover {
  background-color: #3459e6;
  color: #fff;
}